<ion-header>
  <ion-toolbar>

  <ion-buttons slot="start">
    <ion-back-button defaultHref="/"></ion-back-button>
  </ion-buttons>

    <ion-title>Avatar</ion-title>

    <ion-item>
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="/assets/sasu.jpg"/>
      </ion-avatar>
      <ion-label>Sasu Avatar</ion-label>
    </ion-item>

  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-chip>
    <ion-avatar>
      <img alt="Silhouette of a person's head" src="/assets/sasu.jpg" />
    </ion-avatar>
    <ion-label>Sasu Avatar</ion-label>
  </ion-chip>


</ion-content>
