<ion-header no-border>
  <ion-toolbar>

  <ion-buttons slot="start">
    <ion-back-button defaultHref="/"></ion-back-button>
  </ion-buttons>

<ion-title>Button</ion-title>

  <ion-buttons slot="end">

    <ion-button color="primary">
      <ion-icon name="heart"></ion-icon>
    </ion-button>
  </ion-buttons>


  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-button>Default</ion-button>
<ion-button color="primary">Lunes</ion-button>
<ion-button color="secondary">Martes</ion-button>
<ion-button color="tertiary">Miercoles</ion-button>
<ion-button color="success">Jueves</ion-button>
<ion-button color="warning">Viernes</ion-button>
<ion-button color="danger">Sabado</ion-button>
<ion-button color="light">Domingo</ion-button>
<ion-button color="medium">Medium</ion-button>
<ion-button color="dark">Dark</ion-button>

</ion-content>
